<!DOCTYPE html>
<html>
<head>
	<title>Weather</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <label class="navbar-brand" href="#">Weather-AI<img src="https://static1.squarespace.com/static/5572b7b4e4b0a20071d407d4/58a3361e37c58106bd613c17/58a3361f1e5b6cd1ae27d0b0/1487176631928/07-Weather.png" height="30" width="30"></label>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="list">Home</a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="list">To train</a>
        </li> -->
        <li class="nav-item active">
          <a class="nav-link" href="j48">Classify</a>
        </li>
				<!--<li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Weka
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="bayes">Bayes</a>
	        </div>
	      </li>-->
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
	  <h1>Weather in {{city}}!</h1>
	  <p>Just now <b>{{weather}}</b><img src="{{icon}}"> / <b>{{temp}}°C</b></p>
	</div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Humidity</th>
        <th scope="col">Pressure</th>
        <th scope="col">Dew Point</th>
        <th scope="col">Visibility</th>
        <th scope="col">Heat Index</th>
        <th scope="col">Feels Like</th>
        <th scope="col">Precipitation</th>
        <th scope="col">Wind</th>
        <th scope="col">Wind(dir)</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td name="humidity">{{humidity}}</td>
        <td name="precip">{{pressure}} hPa</td>
        <td>{{dewpoint}} C</td>
        <td>{{visibility}}Km</td>
        <td>{{headindex}} C</td>
        <td>{{feelslike}} C</td>
        <td>{{precip}}</td>
        <td>{{wind}} kph</td>
        <td>{{wind_dir}}</td>
      </tr>
    </tbody>
  </table>


</body>
</html>
